@media (min-width: 1024px){

}


@media (max-width: 768px){
	.blp-col-xs-12{
		width: 100%;
	}
	.blp-col-xs-7{
		width: 58.3%;
	}

	.blp-col-xs-6{
		width: 50%;
	}

	.blp-col-xs-5{
		width: 41.6%;
	}

	.blp-col-xs-4{
		width: 33.3%;
	}

	.blp-col-xs-3{
		width: 25%;
	}

	.blp-col-xs-2{
		width: 16.6%;
	}

	.blp-col-xs-1{
		width: 8.33%;
	}

	.menu-mobile > a.icon{
		display: block;
	}


	body .above-the-fold.blp-row{
		flex-direction: column-reverse;
	}

	.above-the-fold.blp-row .blp-col-6:nth-child(1){
	    padding-right: 0;
	}

	.above-the-fold.blp-row .blp-col-6 > h1, .above-the-fold.blp-row .blp-col-6 > p,
	.sec-features h2, .one-click.blp-row p{
		text-align: center;
	}

	.above-the-fold.blp-row .atf-cta{
		width: 100%;
	    display: block;
	    text-align: center;
	}

	.site-branding.content-area .menu-desktop{
		display: none;
	}

	body header .blp-row{
		flex-direction: row;
	}

	body .site-header:not(.has-logo).has-title-and-tagline .site-branding{
	    max-width: 100%;
	}

	#main.site-main{
		padding-top: 0;
	}

	/**
	 * Section : Above the fold
	 * */
	 body .above-the-fold.blp-row {
	    margin-bottom: 100px !important;
	}

	.above-the-fold.blp-row .blp-col-6 > p{
		font-size: 14px;
	}

	/**
	 * Section : Features
	 * */
	 .feature-tab.blp-row{
 	    margin-left: 0;
	    width: 100%;
	    flex-direction: column;
	 }

	 .one-click.blp-row{
	 	flex-direction: column;
	 }

	 .one-click.blp-row .blp-col-6:first-child{
 	    margin-bottom: 120px;
	 }

	 .one-click.blp-row .blp-col-6:last-child{
	 	padding-left: 0;
	 }

	 .one-click.blp-row a{
 	    display: block;
    	text-align: center;
	 }

	 body .sec-features .feature-tab.blp-row .blp-col-4{
    	padding: 15px 20px;
	 }

	 /**
	  * Section : extention
	  * */

	  body .blp-row{
    	flex-direction: column;
	  }

	  .three-browsers.blp-row .blp-col-4{
	  	width: 100%;
	  }

	  /**
	   * Footer
	   * */
	   .blp-bottom-footer .blp-row img{
	   	    margin: 0 auto;
	   }

	   .footer-navigation-wrapper .menu-main-menu-container{
	   	    text-align: center;
		    width: 100%;
		    margin-top: 20px;
	   }

	   body .footer-navigation-wrapper li{
	   	display: block;
	   }

	   .social-icon.blp-row{
	   	flex-direction: row;
	   	flex-direction: row;
    	margin: 20px auto 0 auto;
	   }

	   footer #menu-main-menu-2{
	   	padding-left: 0;
	   }

	   .blp-top-footer h2.footer-cta-title{
	   	font-size: 25px;
	   	padding-top: 0;
   	    font-size: 24px;
	   }

	   .blp-top-footer .text-count{
	   	    font-size: 12px;
	   }
}

@media (max-width: 575px){

	body .content-area{
		padding: 0px 30px;
	}

	html body{
    	font-size: 14px;
	}

	body h2{
		font-size: 25px;
	}

	body h3{
	    font-size: 16px;
	}

	/**
	 * Section : Above the fold
	 * */
	 .above-the-fold.blp-row .blp-col-6 img{
	 	width: 300px !important;
	 }

	 .above-the-fold.blp-row .blp-col-6:nth-child(2):after{
	 	height: 171px;
	    width: 101%;
	    bottom: unset;
	    top: 51px;
	    right: -59px;
	 }

	 .above-the-fold.blp-row .blp-col-6, .above-the-fold.blp-row .blp-col-6:nth-child(1){
	 	min-height: 280px;
	 }

	 .above-the-fold.blp-row .blp-col-6 > h1{
	    font-size: 30px;
	 }

	 #content a{
	 	font-size: 12px;
	 }

	 .sec-features p{
	 	width: 100%;
	 }

	 /**
	  * Section : Featureds
	  * */
	  .one-click.blp-row .blp-col-6:nth-child(1):after{
		    height: 210px;
		    width: 472px;
		    bottom: -43px;
		    left: -167px;
		    border-bottom-right-radius: 150px;
	  }

	  .sec-features h2{
	  	font-size: 25px;
	  }

	  .one-click.blp-row .blp-col-6:first-child{
  	    margin-bottom: 100px;
	  }

	  /**
	   * Section : Newsletter
	   * */
	  	#frm_form_2_container.frm_forms .frm_submit .frm_button_submit{
  		    width: 100%;
  		    box-sizing: border-box;
	  	}
}